/*
  ========================================
  Clearfix
  ========================================
*/

.group:before, 
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/*
  ========================================
  Main styles
  ========================================
*/

* {
	margin: 0;
}
html, body {
	height: 100%;
	background-color: #F2E7F0;
}

header, footer {
	display: block;
	width: 100%;
	background-color: #a31ebd;
	position: relative;
}
h1, h2, h3, h4 {
	font-family: 'Nova Square', Arial, sans-serif;
}
h1 {
	font-size: 60px;
}


/*
  ========================================
  Header
  ========================================
*/

.main-header h1 {
	margin: 0;
	padding: 27px;
	display: inline-block;
	float: right;
	color: #c9c9c9;
	line-height: 20px;

}
h1 > small {
	color: #38bd1e;
	font-size: 20px;
}

.logo {
	display: inline-block;
	position: relative;
	bottom: -20px;
	padding-left: 20px;
	float: left;
}

/*
  ========================================
  Main Section
  ========================================
*/
.tweetle {
	display: block;
	margin: 20px;
	
}
.tweetle:first-child {
	margin-top: 40px;
}
.tweetle p {
	font: 18px arial, sans-serif;
	margin-left: 25px;
}
.userName {
	font-size: 24px;
}
.tweetle img {
	float: left;
	position: absolute;
	border-radius: 50%;
	height: 70px;
	top: -20px;
	left: -30px;
	margin: -6px 0 22px 0;
}
.panelStyle {
	display: inline-block;
	position: relative;

}
.timeStamp {
	padding-right: 15px;
	font: 12px courier, serif;
	float: right;
}

/*
  ========================================
  Navigation
  ========================================
*/

.navi {
	float: right;
	position: relative;
	right: 40px;
	top: 40px;
}
.users {
	padding-left: 0;
	display: inline-block;
	list-style: none;
	margin: auto;
}
.user img {
	border-radius: 50%;
}

/*
  ========================================
  Footer
  ========================================
*/

.wrapper {
	min-height: 100%;
	margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 55px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.main-footer  h3 {
	padding: 15px 0 15px 20px;
	color: #c9c9c9;

}
.main-footer span {
	color: #38bd1e;
}